/*---------------------------------Page Background---------------------------------*/
body{
    
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#Avatar
{
    background-color: black;
    color: red;
}

#P1
{
    width: 50%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    border: 2px solid white;
    color:white;
}


