background{
    background-image:url(../highscores.jpg);
    height:100vh;
    background-size:cover;
    background-position:center;

}


table{
    width : 400px;
   /* border-spacing:40px;*/
}
th{
    text-align:left;
}

table,th,td{
    border :1px solid black;
    border-collapse:collapse;
}
th,td{
    padding:10px;
}
tr:nth-child(even){
   background-color:crimson;
   color:white;
   font-family:chiller;
   font-size:30px;
}
tr:nth-child(odd){
    background-color:black;
    color:white;
    font-family:chiller;
    font-size:30px;
 }
 .center {
    margin-left: auto;
    margin-right: auto;
  }
